{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "max-len": "warn",
    "no-underscore-dangle": "off",
    "no-trailing-spaces": ["error", {"skipBlankLines": true}],

    // They're too harsh otherwise
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off"
  }
}